/* General Styles */

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/*Import Google font */

@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;600&display=swap');

/* Typography */

html {
    font-size: 10px;
}

body {
    font-family: 'Oswald', sans-serif;
    font-weight: 200;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: 0.5px;
}

:is(h1, h2, h3, h4, h5, h6) {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
}

header h1 {
    text-align: center;
}

nav a {
    display: block;
    text-decoration: none;
}

nav a:visited {
    color: #666;
}

nav a:focus {
    text-decoration: underline;
}

nav a:hover {
    text-decoration: underline;
}

nav a:active {
    color: #333;
}

/* Layout & Appearance */

.wrapper {
    width: 90%;
    margin: 0 auto;
}

header {
    padding: 2em 0;
}

article {
    padding: 2em 3em;
}

article:nth-of-type(2) {
    background-color: #ffdd4a;
}

article:nth-of-type(4) {
    background-color: #FE9000;
}

article:nth-of-type(6) {
    background-color: #5adbff;
}

article:nth-of-type(odd) {
    background-color: #BADA55;
}

main article {
    width: 33.3%;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

footer div {
    padding: 1em;
    border: 1px dashed #eaeaea;
}

footer a {
    color: #fff;
}

/* FLEXBOX */

main {
    /* create a flex container */
    display:flex; 
    /* no wrap / wrap */
    flex-wrap:wrap; 

    /* flex-direction */ 
    flex-direction:column;
    flex-direction: column-reverse; 
    flex-direction: row; 
    flex-direction: row-reverse; 
}


/* Challenge #1  - Create a Three Column Layout in the Footer  Using Flexbox */

footer {
    display:flex; 
}


/* Challenge #2 - make the third div twice the width of the other two divs */

footer div:nth-of-type(3) {
    flex: 2; 
}

footer div:nth-of-type(1),
footer div:nth-of-type(2) {
    flex: 1; 
}

/* Challenge #3 - center the text content horizontally */

footer div {
    display:flex; 
    justify-content: center;
}
